server {
    listen      80;
    server_name  litespeed1.example.com litespeed2.example.com;                  #修改为自己的litespeed域名

    location / {
	add_header  Via "OpenResty" always;
	add_header  Upsteam-Server "LiteSpeed" always;
	proxy_set_header Host $host;
        proxy_pass http://litespeed;
    }
}
